@font-face {
    font-family: Raleway;
    src: url('../resources/fonts/raleway-regular.ttf') format('truetype');
    font-weight: normal;
}

.title-panel{
    font-size: 24px;
    padding: 13px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #D4AF37;
    margin-top: 27px;
    margin-bottom: 27px;
    color: white;
    font-weight: 400;

}

.panel-text{
    margin-bottom: 0px;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 500;

}


.table-header{
    font-size: 21px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;



}