@font-face {
    font-family: Raleway;
    src: url('../resources/fonts/raleway-regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: RalewaySemiBold;
    src: url('../resources/fonts/raleway-bold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: RalewayLight;
    src: url('../resources/fonts/raleway-light.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: RalewayMedium;
    src: url('../resources/fonts/raleway-medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: RalewayThin;
    src: url('../resources/fonts/raleway-thin.ttf') format('truetype');
    font-weight: normal;
}

.title-panel{
    font-size: 24px;
    padding: 13px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #D4AF37;
    margin-top: 27px;
    margin-bottom: 27px;
    color: white;
    font-weight: 400;
}

.panel-text{
    margin-bottom: 0px;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 500;
}


.table-header{
    font-size: 21px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
}

.logo{
    width: 69px;
    height: 69px;
}

.nectar-button{
    font-family: RalewayMedium, sans-serif;
    font-size: 19px;
    color: #D4AF37;

}

.nectar-title{
    font-family: RalewayMedium, sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: #D4AF37;

}

.btn-outline-nectar{
    color: #D4AF37;
}

.nectar-text{
    font-family: RalewayThin, sans-serif, sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.cook-time{
    font-family: RalewayMedium, sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #000000;

}

.recipe-title{
    text-align: left;
    text-transform: uppercase;
    font-size: calc(1.725rem + 2.83636vw);
    letter-spacing: .4em;
    line-height: 1;
    font-family: RalewaySemiBold,sans-serif;
    color: #D4AF37;
    padding-left: 69px;
    margin-left: -69px;

}

.recipe-info-title{
    text-align: left;
    text-transform: uppercase;
    font-size: calc(1.725rem + 2.83636vw);
    letter-spacing: .4em;
    line-height: 1;
    font-family: RalewaySemiBold,sans-serif;
    color: #D4AF37;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-left: 9px ;

}


.recipe-info-sub-title{
    text-align: left;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: .4em;
    line-height: 1;
    font-family: RalewayLight,sans-serif;
    font-weight: 500;
    color: #D4AF37;
    padding-top: 9px;
    padding-bottom: 13px;
    padding-left: 11px ;

}

.recipe-title-panel{
    font-size: 24px;
    padding: 13px;
    border-radius: 15px;
    border: 2px solid #D4AF37;
    background-color: white;
    margin-top: 27px;
    margin-bottom: 27px;
    color: white;
    font-weight: 400;
}


.nectar-sub-text{
    font-family: RalewayMedium, sans-serif, sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #D4AF37;
}

.nectar-icon{
    color: #D4AF37;
    font-size: 34px;
}

.nectar-recipe-card{
    margin-bottom: 19px;
}

.recipe-panel-text{
    margin-bottom: 0px;
    font-family: "RalewayLight", sans-serif;
    color: #D4AF37;
    font-size: 24px;
    font-weight: 500;
    padding-left: 3px;
}

.nectar-recipe-title{
    padding-top: 16px;
    padding-left: 13px;
}

.recipe-card-title{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    padding-top: 10px;
}

.nectar-frame{
    padding: 13px 63px 33px;
    align-content: center;
    display: flex;
}

.footer-logo{
    margin-top: 36px;
    margin-bottom: 69px;
}

.nectar-hue{
    color: #D4AF37;
}


.nectar-item-title{
    font-family: RalewayThin, sans-serif;
    font-weight: 600;
    font-size: 18px;

}

.nectar-item-value{
    font-family: RalewayMedium, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.home-button{
    padding-top: 23px;
    padding-bottom: 23px;
    font-family: RalewayMedium, sans-serif;
    font-size: 21px;
    color: #D4AF37;
    text-transform: uppercase;
    letter-spacing: .4em;
    line-height: 1;
    text-decoration: none;
}

.nectar-title-fx{
    text-align: left;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: .4em;
    line-height: 1;
}

.nectar-line{
    color: #D4AF37;
}

.conspectus-icon{
    padding-right: 3px;
}

.nectar-list-item-icon{
    font-family: "Font Awesome 5 Free", sans-serif;
    font-size: 24px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 9px;
}

.nectar-list-item-text{
    font-family: RalewayThin, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 9px;
}

li
{
    margin: 0.5em 0;
}


.nectar-input{
    font-family: Raleway, sans-serif;
    font-weight: normal;
}


.nectar-slider{
    font-weight: 600;
    text-align: center;
    display: block;
}

.nectar-slider-frame{
    align-content: center;
    display: flex;
    padding: 13px 63px 69px;
}

input.submit {
    font-size: 19px;
    font-family: RalewayMedium, sans-serif;
    background-color: #D4AF37;
    color: white;

}

.nectar-submit-button{
    font-size: 19px;
    font-family: RalewayMedium, sans-serif;
    background-color: #D4AF37;
    color: white;
}

.nectar-edit-ingredient-button{
    font-size: 16px;
    font-family: RalewayMedium, sans-serif;
    background-color: #D4AF37;
    color: white;
    padding-right: 9px;
    margin-right: 3px;
    padding-left: 3px;
}


.nectar-ingredient-button-icon{
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
}

.nectar-text-area{
    width: 88rem;
    text-align: justify;
    font-family: RalewayMedium, sans-serif;
    max-width:100%;

}

.nectar-text-area-title{
    padding-bottom: 9px;
    font-family: RalewayThin, sans-serif;
    font-size: 18px;
    font-weight: 600;

}

.nectar-inner-card{
    padding: 69px;
    border-radius: 25px;
}

.nectar-img-card{
    padding: 30px;
}

.nectar-input-slider {
    opacity: 0.5;
    padding-top: 6px;

}

.nectar-input-slider:hover {
    opacity: 1;
}

.nectar-input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background: url('../resources/images/ambrosialogo-blk.png');
    cursor: pointer;
}

.nectar-input-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 0;
    background: url('../resources/images/ambrosialogo-blk.png');
    cursor: pointer;
}

#recipes td, #recipes th {
    width: 150px;
}

.directions-box{
    display: block;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem;
}

.nectar-ingredient-thumb{
    width: 200px;
    height: 200px;
    opacity: 0.5;
    border-radius: 20px;
}

.nectar-ingredient-thumb:hover{
    opacity: 1;
}

.nectar-ingredient-img{
    width: 400px;
    height: 400px;
    opacity: 0.6;
    border-radius: 20px;
}

.nectar-recipe-img{
    width: 250px;
    height: 250px;
    opacity: 0.7;
    border-radius: 5px;
    border: 2px #d4af37;

}

.nectar-ingredient-img:hover{
    opacity: 1;
}

.nectar-recipe-img:hover{
    opacity: 1;
    border: 2px black;

}


.nectar-ingredient-amount-label{
    font-family: RalewayMedium, sans-serif;
    font-size: 33px;
    padding-bottom: 2px;
}

.nectar-ingredient-uom-label{
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    padding-bottom: 2px;
}


.nectar-ingredient-button{
    font-size: 24px;
    font-family: RalewayMedium, sans-serif;
    background-color: #D4AF37;
    color: white;
    border-radius: 18px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.nectar-ingredient-frame{
    padding: 13px 63px 63px;
    align-content: center;
    display: flex;
}


.nectar-ingredient-price-value{
    font-family: RalewaySemiBold, sans-serif;
    color: #d4af37;
    font-size: 55px;
    font-weight: 600;
    padding-left: 13px;
}

.nectar-ingredient-list-label{
    text-align: left;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: .4em;
    line-height: 1;
    font-family: RalewayLight,sans-serif;
    font-weight: 600;
    padding-top: 9px;
    padding-bottom: 13px;
    padding-left: 11px ;
}

.nectar-edit-ingredient-inner-card{
    padding: 50px;
    border-radius: 20px;
}

.nectar-new-ingredient-button{
    font-size: 19px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 2px solid #d4af37;
    background-color: transparent;
    color: #d4af37;
}

/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
    content: attr(tooltip); /* magic! */

    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;

    /*
      Let the content set the size of the tooltips
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

